<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>首页</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fofa.css">
    <script src="../static/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="card-body container">
        <h1 class="modal-title">信息收集与利用</h1>
        <div class="row">
            <div class="col-lg-3">
               {% include('nav.html') %}
            </div>
            <div class="right col-lg-8">
                <p>欢迎来到漏洞搜索利用~_~</p>
            </div>
        </div>
{#    脚注#}
    <div class="card-footer">@符艺南所有</div>
    </div>
</body>
</html>